@import url(https://fonts.googleapis.com/css?family=Oswald);

/*
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/



/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    color: #7e7e7e;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
    }
}

a {
    color: rgb(231, 86, 125);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: rgb(231, 86, 125);
    outline: none;
}

p {
    margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #7e7e7e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0px 0 30px 0;
}

figure {
    margin-bottom: 2.5em;
    float: left;
    width: 100%;
}

.videoBox{
    padding-bottom: 2.5em;
    /* float: left; */
    /* width: 100%; */
}

::-webkit-selection {
    color: #fff;
    background: rgb(231, 86, 125);
}

::-moz-selection {
    color: #fff;
    background: rgb(231, 86, 125);
}

::selection {
    color: #fff;
    background: rgb(231, 86, 125);
}

#glenn-page {
    width: 100%;
    overflow: auto;
    position: relative;
}

#glenn-aside {
    /* TODO: add max width */
    padding-top: 40px;
    padding-bottom: 40px;
    width: 15%;
    /* max-width: 240px; */
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#glenn-aside.border {
    border-right: 1px solid #e6e6e6;
}

@media screen and (max-width: 1200px) {
    #glenn-aside {
        width: 20%;
    }
}

@media screen and (max-width: 825px) {
    #glenn-aside {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    #glenn-aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
    }
}

#glenn-aside #glenn-logo {
    text-align: center;
}

#glenn-aside #glenn-main-menu ul {
    /* text-align: center; */
    margin: auto;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #glenn-aside #glenn-main-menu ul {
        margin: 0 0 2em 0;
    }
}

#glenn-aside #glenn-main-menu ul li {
    margin: 0 0 10px 25%;
    padding: 0;
    list-style: none;
}

#glenn-aside #glenn-main-menu ul li a {
    color: #7e7e7e;
    text-decoration: none;
    /* letter-spacing: .1em; */
    /* text-transform: uppercase; */
    font-size: 15px;
    font-weight: 450;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 10px;
    /* letter-spacing: .2em; */
    font-family: 'Open Sans', sans-serif;
}

#glenn-aside #glenn-main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    background-color: rgb(231, 86, 125);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#glenn-aside #glenn-main-menu ul li a:hover {
    text-decoration: none;
    color: black;
}

#glenn-aside #glenn-main-menu ul li a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#glenn-aside #glenn-main-menu ul li.glenn-active a {
    color: black;
}

#glenn-aside #glenn-main-menu ul li.glenn-active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#glenn-aside .glenn-footer {
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    /* text-align: center; */
    width: 100%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 10px 25%;
}

@media screen and (max-width: 768px) {
    #glenn-aside .glenn-footer {
        position: relative;
        bottom: 0;
    }
}

#glenn-aside .glenn-footer span {
    display: block;
}

#glenn-aside .glenn-footer ul {
    padding: 0;
    margin: 0;
    /* text-align: center; */
}

#glenn-aside .glenn-footer ul li {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}

#glenn-aside .glenn-footer ul li a {
    color: rgba(0, 0, 0, 0.7);
    padding: 4px;
}

#glenn-aside .glenn-footer ul li a:hover,
#glenn-aside .glenn-footer ul li a:active,
#glenn-aside .glenn-footer ul li a:focus {
    text-decoration: none;
    outline: none;
    color: rgb(231, 86, 125);
}

#glenn-main {
    width: 85%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    #glenn-main {
        width: 80%;
    }
}

@media screen and (max-width: 825px) {
    #glenn-main {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    #glenn-main {
        width: 100%;
    }
}

#glenn-main .glenn-narrow-content-top {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 4.5em;
    padding-bottom: 1.5em;
}

#glenn-main .glenn-narrow-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 4em;
    /* padding-top: 1.5em;
    padding-bottom: 1.5em; */
}

#glenn-main .glenn-wide-content {
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
}

#glenn-main .glenn-center-content {
    position: relative;
    width: 80%;
    top: 50%;
    margin: 0 auto;
    padding: 4em 0;
    transform: translate(0, -50%)
}

@media screen and (max-width: 768px) {
    #glenn-main .glenn-narrow-content-top {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4.5em;
    }
}

@media screen and (max-width: 768px) {
    #glenn-main .glenn-narrow-content {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    #glenn-main .glenn-wide-content {
        width: 100%;
        /* padding-top: 1.5em; */
    }
}

body.offcanvas {
    overflow-x: hidden;
}

body.offcanvas #glenn-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 270px;
    background: #fff;
    z-index: 999;
    position: fixed;
}

body.offcanvas #glenn-main,
body.offcanvas .glenn-nav-toggle {
    top: 0;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
}

.work-item {
    margin-bottom: 30px;
}

.work-item a {
    border: none;
    text-align: center;
}

.work-item a img {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 1px;
    float: left;
    border: 10px solid rgba(255, 0, 0, 0.001);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 1em;
}

.work-item a h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.work-item a p {
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 0;
}

.work-item a:hover,
.work-item a:active,
.work-item a:focus {
    text-decoration: none;
}

.work-item a:hover img,
.work-item a:active img,
.work-item a:focus img {
    border: 10px solid rgba(0, 0, 0, 0.185);
}

.work-item a:hover .ptitle-container {
    background-color: rgb(35, 35, 35);
}

.glenn-services {
    margin-top: 5px;
}

.glenn-services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-pagination {
    padding: 3em 0;
}

.work-pagination a {
    color: #000;
}

.work-pagination a:hover {
    color: rgb(231, 86, 125);
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .work-pagination span {
        display: none;
    }
}

.glenn-border-bottom {
    border-bottom: 1px solid #f0f0f0;
}

.glenn-testimonial {
    /* padding: 3em 0; */
    background: #fff;
}

.glenn-youtube {
    background-size: cover;
    background-attachment: fixed;
    background: #fff;
}

.glenn-youtube-video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 100%;
    background: black;
}

.glenn-youtube-video-wide {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    background: black;
}

.glenn-vimeo-video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    background: black;
}

.glenn-full-height {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .glenn-testimonial {
        /* padding-left: 3em;
        padding-right: 3em; */
    }
}

.glenn-testimonial .item {
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 3em;
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .glenn-testimonial .item {
        padding-left: 0em;
        padding-right: 0em;
        display: block;
        width: 100%;
        height: auto;
    }
}

.glenn-testimonial .item figure {
    text-align: center;
}

.glenn-testimonial .item figure img {
    max-width: inherit;
    width: 90px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.glenn-testimonial .item p {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .glenn-testimonial .item p {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .glenn-testimonial .item p {
        font-size: 20px;
    }
}

.glenn-testimonial .item .author {
    font-size: 16px;
    display: block;
}

.glenn-counters {
    padding: 1em 0;
    background: #e6e6e6;
    background-size: cover;
    background-attachment: fixed;
}

.glenn-counters .glenn-counter {
    font-size: 50px;
    display: block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin-bottom: .5em;
}

.glenn-counters .glenn-counter-label {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 2em;
    display: block;
}

.glenn-lead {
    font-size: 24px;
    line-height: 1.5;
}

.glenn-passage {
    font-size: 18px;
}

.glenn-caption {
    padding-top: 1em;
    font-size: 16px;
}

.glenn-captionpad {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.glenn-project-heading {
    padding-top: 1.5em;
}

.glenn-heading-colored {
    color: rgb(231, 86, 125);
}

.glenn-cards {
    padding: 1em 0;
    /* background: #e6e6e6; */
    background: linear-gradient(287.83deg, #c1c1c1, rgb(241, 241, 241));
}

@media screen and (max-width: 768px) {
    .glenn-cards {
        padding: 1em 0;
    }
}

.glenn-cards .glenn-flex-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

.glenn-cards .glenn-flex-wrap>div {
    width: 80%;
    max-width: 870px;
    /* width: 49.5%; */
    /* margin-right: 1%; */
    background: #fff;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .glenn-cards .glenn-flex-wrap>div {
        width: 95%;
    }
}



.glenn-cards .glenn-flex-wrap>div:nth-of-type(1) {
    float: left;
}

.glenn-cards .glenn-flex-wrap>div:nth-of-type(2) {
    float: right;
    margin-right: 0%;
}

@media screen and (max-width: 992px) {
    .glenn-cards .glenn-flex-wrap>div {
        width: 100%;
        margin-right: 0;
    }
}

.glenn-cards .glenn-flex-wrap .glenn-card p:last-child {
    margin-bottom: 0;
}

.glenn-cards .glenn-flex-wrap .glenn-card h5 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .2em;
    padding: 4px 8px;
    background: #ebebeb;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.glenn-counter .glenn-number {
    font-size: 100px;
    color: rgb(231, 86, 125);
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: .7;
}

.glenn-counter .glenn-number.glenn-left {
    float: left;
    width: 30%;
}

@media screen and (max-width: 768px) {
    .glenn-counter .glenn-number.glenn-left {
        width: 100%;
        line-height: 1.2;
    }
}

.glenn-counter .glenn-text {
    float: right;
    text-align: left;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .glenn-counter .glenn-text {
        width: 100%;
        text-align: center;
    }
}

.glenn-counter .glenn-text h3 {
    margin: 0;
    padding: 0;
    position: relative;
}

.glenn-counter .glenn-text h3.border-bottom:after {
    content: "";
    width: 50px;
}

.glenn-social {
    padding: 0;
    margin: 0;
    text-align: center;
}

.glenn-social li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.glenn-social li a {
    font-size: 22px;
    color: #000;
    padding: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    .glenn-social li a {
        padding: 10px 8px;
    }
}

.glenn-social li a:hover {
    color: rgb(231, 86, 125);
}

.glenn-social li a:hover,
.glenn-social li a:active,
.glenn-social li a:focus {
    outline: none;
    text-decoration: none;
    color: rgb(231, 86, 125);
}

#map {
    width: 100%;
    height: 700px;
}

.glenn-profile-pic {
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

.glenn-more-contact {
    background: #fafafa;
}

.glenn-feature {
    text-align: left;
    width: 100%;
    float: left;
    padding: 20px;
}

.glenn-feature .glenn-icon {
    float: left;
    width: 10%;
    display: block;
    margin-top: 5px;
    font-size: 50px;
}
.glenn-feature .glenn-icon-contact {
    /* float: left; */
    /* width: 10%; */
    /* display: block; */
    /* margin-top: 5px; */
    font-size: 50px;
}

.glenn-feature .glenn-icon i {
    color: rgb(231, 86, 125);
    font-size: 70px;
}

@media screen and (max-width: 1200px) {
    .glenn-feature .glenn-icon i {
        font-size: 40px;
    }
}

.glenn-feature.glenn-feature-sm .glenn-icon i {
    color: rgb(231, 86, 125);
    font-size: 28px;
}

@media screen and (max-width: 1200px) {
    .glenn-feature.glenn-feature-sm .glenn-icon i {
        font-size: 28px;
    }
}

.glenn-feature .glenn-text {
    float: right;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .glenn-feature .glenn-text {
        width: 82%;
    }
}

@media screen and (max-width: 480px) {
    .glenn-feature .glenn-text {
        width: 72%;
    }
}

.glenn-feature .glenn-text h2,
.glenn-feature .glenn-text h3 {
    margin: 0;
    padding: 0;
}

.glenn-feature .glenn-text h3 {
    font-weight: 300;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.glenn-heading {
    font-size: 45px;
    margin-bottom: 1em;
}

.glenn-heading.glenn-light {
    color: #fff;
}

.glenn-heading span {
    display: block;
}

@media screen and (max-width: 768px) {
    .glenn-heading {
        font-size: 30px;
        margin-bottom: 1em;
    }
}

.glenn-staff img {
    margin-bottom: 1em;
}

.glenn-staff h3 {
    margin: 0;
}

.glenn-staff h4 {
    margin: 0 0 20px 0;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
}

.chart {
    width: 160px;
    height: 160px;
    margin: 0 auto 30px auto;
    position: relative;
    text-align: center;
}

.chart span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    width: 100%;
}

.chart span strong {
    display: block;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}


/* Owl Override Style */

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 50%;
    margin-top: -29px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -40px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -50px;
}

@media screen and (max-width: 768px) {
    .owl-carousel-posts .owl-controls .owl-nav .owl-next {
        right: 0px;
    }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -50px;
}

@media screen and (max-width: 768px) {
    .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
        left: 0px;
    }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
    color: #444;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
    color: #000;
}

.owl-carousel-fullwidth.glenn-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.glenn-light-arrow .owl-controls .owl-nav .owl-prev i {
    color: #fff;
}

.owl-carousel-fullwidth.glenn-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.glenn-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .owl-theme .owl-controls .owl-nav {
        display: none;
    }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
    font-size: 30px;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
    background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
    background: none !important;
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* .owl-carousel-fullwidth.owl-theme .owl-dots {
    bottom: 0;
    margin-bottom: -2.5em;
} */

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: rgb(231, 86, 125);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border: 3px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: none;
    border: 3px solid rgb(231, 86, 125);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: transparent;
    height: 10px;
    border: 2px solid rgb(133, 236, 235);
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px !important;
    border-radius: 0.4em;
}

.btn.btn-sm {
    padding: 4px 15px !important;
}

.btn.btn-md {
    padding: 8px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: rgb(133, 236, 235);
    color: #fff;
    border: 2px solid rgb(133, 236, 235);
    font-weight: 550;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #ec1919 !important;
    border-color: #ec1919 !important;
}

.btn-primary.btn-outline {
    background: #ab2d2d;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(171, 45, 45);
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: rgb(133, 236, 235);
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    box-shadow: none;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(231, 86, 125);
}

#message {
    height: 130px;
}

.glenn-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}

.glenn-nav-toggle.active i::before,
.glenn-nav-toggle.active i::after {
    background: #000;
}

.glenn-nav-toggle.dark.active i::before,
.glenn-nav-toggle.dark.active i::after {
    background: #000;
}

.glenn-nav-toggle:hover,
.glenn-nav-toggle:focus,
.glenn-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.glenn-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    transition: all .2s ease-out;
}

.glenn-nav-toggle i::before,
.glenn-nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.glenn-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    transition: all .2s ease-out;
}

.glenn-nav-toggle.dark i::before,
.glenn-nav-toggle.dark i::after {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.glenn-nav-toggle i::before {
    top: -7px;
}

.glenn-nav-toggle i::after {
    bottom: -7px;
}

.glenn-nav-toggle:hover i::before {
    top: -10px;
}

.glenn-nav-toggle:hover i::after {
    bottom: -10px;
}

.glenn-nav-toggle.active i {
    background: transparent;
}

.glenn-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.glenn-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.glenn-nav-toggle {
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .glenn-nav-toggle {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 1em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 1em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 1em;
    }
}

.js .animate-box {
    opacity: 0;
}

.img-responsive {
    border-radius: 1em;
}

.img-responsive-shadow {
    filter:drop-shadow(3px 5px 5px rgb(140, 140, 140));
}

.img-responsive-projects { /* image box */
    width: 100%;
    height: 300px;
    object-fit: cover;
}


@media screen and (max-width: 500px) {
    .img-responsive-projects {
        height: 210px;
    }
}

.glenn-subtitle {
    margin-top:-5px;
    margin-left:auto;
    margin-bottom: 30px;
    color: rgb(135, 135, 135);
}

/*Typing Carousel*/

.output {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
h1 {
    font-size: 30px;
}


/* Cursor Styling */

.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: rgb(228, 20, 82);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

h1.cursor::after {
    height: 24px;
    width: 13px;
}

p.cursor::after {
    height: 13px;
    width: 6px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* Rotating Hover*/

.spin {
    transition: .3s all;
}

.spin:hover {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Sticky */

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
}

.map {
    position: relative;
    padding-bottom: 50%;
}

@media screen and (max-width: 768px) {
    .map {
        width: 100%;
        padding-top: 5em;
    }
}

.image-container{
    position: relative;
    text-align: center;
}

.img-caption{
    font-size: 14px;
    /* position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(0, 50%); */
}

.owl-gallery-carousel{
    /* margin: 3px 3px 3px 3px; */
    width: 100%;
    position: relative;
    /* margin: auto; */
}

.owl-gallery-carousel .item{
    /* margin: 3px 3px 3px 3px; */
    padding-bottom: 2em;
}

.owl-gallery-carousel .item img{
    display: block;
    width: 90%;
    transform: translate(5%, 0);
    height: auto;
}

.glenn-wide-content h3{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.glenn-wide-content .title{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

@media screen and (max-width: 768px) {
    .glenn-wide-content h3{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .owl-gallery-carousel .item img{
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0, 0);
        height: auto;
    }
}

.github-code{
    color: grey !important;
}

.flex{
    display: flex; align-items: center;
}

@media screen and (max-width: 1200px) {
    .flex-col {
        flex-direction: column;
    }
    .flex-col-rev {
        flex-direction: column-reverse;
    }
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-4{
    flex: 4;
}

.flex p{
    padding-left: 30px;
    padding-right: 30px;
}

.flex img{
    width: 100%;
}
/*# sourceMappingURL=style.css.map */


/*======================
    404 page
=======================*/


.page_404{
    padding:40px 0;
    background:#fff;
}

.page_404  img{
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://github.com/glennlopez/glennlopez.github.io/blob/main/images/404.gif?raw=true);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}

.contant_box_404{
    margin-top:-50px;
}

.four_zero_four_padding{
    margin: 0 auto;
    padding-top: 1.5em;
}

/*======================
    404 page SIMPLE
=======================*/
#oopss {
    background: linear-gradient(-45deg, #ffffff, #ffffff);
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 1.3em;
}
#oopss #error-text {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: #000;
    direction: rtl;
}
#oopss #error-text img {
    margin: 0px auto 0px;
    height: 300px;
}
#oopss #error-text span {
    position: relative;
    font-size: 3.3em;
    font-weight: 900;
    margin-bottom: 50px;
}
#oopss #error-text p.p-a {
    font-size: 19px;
    margin: 30px 0 15px 0;
}
#oopss #error-text p.p-b {
    font-size: 15px;
}
#oopss #error-text .back {
    background: #fff;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    margin: 1em auto 0;
    padding: .7em 2em;
    border-radius: 500px;
    box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px #ffffff;
    font-weight: 900;
    transition: all 300ms ease;
}
#oopss #error-text .back:hover {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
    box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
}

/*======================
    Block Quote Style
=======================*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");


.blockquote {
    padding: 20px;
}

.quote {
    font-size: 1.4rem;
    max-width: 400px;
    line-height: 1.4;
    font-style: italic;
}

.author {
    float: right;
    font-size: 1.1rem;
    font-weight: bold;
}

.quote-icon {
    margin-bottom: 10px;
}

.blockquote hr {
    margin-top: 50px;
}

/*======================
    Social Icons
=======================*/
.glenn-social-icon {
    width: 5%;
    min-width: 30px;
    max-width: 40px;
    opacity: 0.3;
    margin-left: 2px;
    margin-right: 2px;
}

.glenn-social-icon:hover {
    opacity: 0.5;
}

.glenn-social-box {
    text-align: center;
    margin: 10px auto 20px;
}




/*======================
    Career Stats
=======================*/
.career-stats-box {
    display: block;
    align-items: center;
    background-color: #737373;
    width: 80%;
    max-width: 870px;
    padding-top: 15px;
    margin: -30px auto 0;
    padding-bottom: 17px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    color: white;
}

.career-stats-element {
    width: 9%;
    text-align: center;
    line-height: 1;
    display: inline-block;
    border-left:2px solid #828282;
    margin-right: 1px;
    margin-left: 1px;
    /* border-image: linear-gradient(to bottom, #727272, #808080, #727272) 3; */
}

.no-border-left {
    border-left: none;
}

@media screen and (max-width: 1200px) {
    .career-stats-box {
        width: 95%;
    }
}

@media screen and (max-width: 992px) {
    .career-stats-box {
        width: 100%;
    }
}

.career-stats-number {
    font-size: 1.8em;
    font-weight: bold;
    display: block;
    text-align: center;
}

.career-stats-desc {
    font-size: 0.6em;
    font-weight: lighter;
    display: inline-block;
    text-align: center;
}



/*======================
    Timeline
=======================*/

/*
.timeline-active:active {
    opacity: 0.8;
    box-sizing: border-box;
    border-bottom: 3px solid #ff004d;
    padding-bottom: 5px;
}
*/

.timeline-icon img{
    opacity: 0.5;
    max-width: 17px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.timeline-selector:hover {
    opacity: 0.8;
    cursor: pointer;
}

.timeline-active {
    opacity: 0.5;
    padding-bottom: 5px;
}

.timeline-selector {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-right: 20px;
    font-size: larger;
    color: black;
    opacity: 0.5;
}

.timeline-selector img{
    max-width: 23px;
    margin-right: 5px;
    margin-top: -5px;
}

.timeline-subtext-glenn {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: small;
    font-style: italic;
    color: #a5a5a5;
}

@media screen and (max-width: 825px) {
    .timeline-subtext-glenn {
        font-size: x-small;
    }
}

/* ================ The Timeline ================ */


.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    padding: 1em 1em;
    list-style-type: none;
}

@media screen and (max-width: 992px) { /* Tablets - Vertical */
    .timeline {
        width: 570px;
    }
}

@media screen and (max-width: 920px) { /* Tablets - Vertical */
    .timeline {
        width: 600px;
    }
}

@media screen and (max-width: 825px) {
    .timeline {
        width: 500px;
    }
}


.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: #7f7f7f;
    background: -moz-linear-gradient(top, rgb(180,180,180, 0) 0%, rgb(97, 97, 97) 8%, rgb(180,180,180) 92%, rgb(180,180,180,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgb(180,180,180,0) 0%, rgb(180,180,180) 8%, rgb(180,180,180) 92%, rgb(180,180,180,0) 100%);
    background: -o-linear-gradient(top, rgb(180,180,180,0) 0%, rgb(180,180,180) 8%, rgb(180,180,180) 92%, rgb(180,180,180,0) 100%);
    background: -ms-linear-gradient(top, rgb(180,180,180,0) 0%, rgb(180,180,180) 8%, rgb(180,180,180) 92%, rgb(180,180,180,0) 100%);
    background: linear-gradient(to bottom, rgb(180,180,180,0) 0%, rgb(180,180,180) 8%, rgb(180,180,180) 92%, rgb(180,180,180,0) 100%);

    /* z-index: 1; */
}

.timeline li {
    /* padding: 1em 0; */
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 280px;
    float: left;
    text-align: right;
}

@media screen and (max-width: 992px) {
    .direction-l {
        width: 238px;
    }
}

@media screen and (max-width: 920px) {
    .direction-l {
        width: 253px;
    }
}

@media screen and (max-width: 825px) {
    .direction-l {
        width: 203px;
    }
}

.direction-r {
    position: relative;
    width: 280px;
    float: right;
}

@media screen and (max-width: 992px) {
    .direction-r {
        width: 238px;
    }
}

@media screen and (max-width: 920px) {
    .direction-r {
        width: 254px;
    }
}

@media screen and (max-width: 825px) {
    .direction-r {
        width: 203px;
    }
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

@media screen and (max-width: 825px) {
    .flag {
        font-size: 17px;
    }
}

.direction-l .flag {
    -webkit-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #F4F5F5;
    border-radius: 10px;
    border: 4px solid #7f7f7f;
    z-index: 10;
}

@media screen and (max-width: 920px) {

}

.direction-l .flag.xl:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #F4F5F5;
    border-radius: 20px;
    border: 4px solid #7f7f7f;
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.flag.wbg {
    /*
    background: transparent;
    border: none;
    box-shadow: none;
    */
}


.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
}

.desc {
    margin: 1em 0.75em 0 0;

    font-size: 16px;
    line-height: 1.5em;
}

@media screen and (max-width: 825px) {
    .desc {
        font-size: 12px;
    }
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255,255,255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -18px;
        left: 50%;
        content: ' ';
        display: block;
        width: 15px;
        height: 15px;
        margin-left: -8px;
        background: #fff;
        border-radius: 10px;
        border: 3px solid #7f7f7f;
        z-index: 10;
    }

    .direction-l .flag.xl:before {
        left: calc(50% - 7.5px);
        top: -35px;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .flag.wbg {
        background: #fff;
        -webkit-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        -moz-box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        box-shadow: -1px 2px 3px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }


    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);
        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

.glenn-dp {
    display: inline;
    width: 30%;
    max-width: 250px;
    margin-right: 1em;
    float: left;
}


@media screen and (max-width: 510px) {
    .hide-on-small-screen {
         display: none;
    }
    .career-stats-element {
        width: 15%;
        /* border-left:none; */
    }

    .career-stats-desc {
        font-size: 8px
    }

    .career-stats-number {
        font-size: 1.5em;
        font-weight: bold;

    }
    .glenn-dp {
        display: inline;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 440px) {
    .hide-on-small-screen {
        display: none;
    }
    .career-stats-element {
        /* width: 15%; */
        /* border-left:none; */
    }

    .career-stats-number {
        font-size: 1.5em;
        font-weight: bold;

    }
}

@media screen and (max-width: 440px) {

}

.hide {
    display: none !important;
}

@media screen and (min-width: 400px ?? max-width: 660px) {
    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

}

/*======================
    Website Credits
=======================*/
.glenn-website-credits {
    display: block;
    align-items: center;
    width: 85%;
    margin: 5px auto 0;
    font-size: small;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .glenn-website-credits {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .glenn-website-credits {
        width: 100%;
    }
}

/*======================
    Icebreaker
=======================*/

@media screen and (max-width: 1200px) {
    .col-md-6 {
        width: 100%;
    }

}


/*======================
    Skills
=======================*/
.gtitle-container {
    margin-bottom: -35px;
    margin-left: 10%;
    z-index: 20;
}

.gtitle {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 90%;
}

.glabel {
    display: inline-block;
    border-radius: 5px;
    background-color: #808080;
    padding: 2px 7px;
    font-size: small;
    color: white;
    font-weight: bolder;
}
.ind-1 { /* DevOps */
    background-color: #434343;
}

.glabel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: lightgray;
}

/*======================
    Projects
=======================*/

.palert {
    text-align: center;
    font-weight: bolder;
    font-size: 80%;
    color: #ffecec;
    background-color: #ff5647;
    padding-bottom: 5px;
    padding-top: 5px;
}

.plabel {
    display: inline-block;
    border-radius: 5px;
    background-color: #dfdfdf;
    padding: 3px 7px;
    font-size: smaller;
    color: #797979;
    font-weight: normal;
}

.wip-label {
    display: inline-block;
    border-radius: 5px;
    background-color: #fdd2c2;
    padding: 2px 7px;
    font-size: smaller;
    color: #d56a3d;
    font-weight: bold;
}

.opensource-label {
    display: inline-block;
    border-radius: 5px;
    background-color: #cfe8b4;
    padding: 2px 7px;
    font-size: smaller;
    color: #4fa43c;
    font-weight: bold;
}

.ptitle-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 0.8);
    margin-left: 35px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 7px;
}

.ptitle {
    color: white;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    .plabel {
        padding: 1px 7px;
    }
}

/*======================
    Mobile Landscape Fix
=======================*/

@media screen and (max-height: 450px) {
    .hide-on-small-landscape {
        display: none;
    }
}


/*======================
    Form
=======================*/

.glenn-contact-form {

    width:50%;
    vertical-align: top;
    float: right;
    /* background-color: #5cb85c; */
}

@media screen and (max-width: 1000px) {
    .hide-on-tablet-screen {
        display: none;
    }
}


.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    0% { opacity: 1; }
    20% { opacity: 0; }
    40% { opacity: 1; }
}



.formbold-mb-5 {
    margin-bottom: 20px;
}
.formbold-pt-3 {
    padding-top: 12px;
}
.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-form-wrapper {
    margin-top: -50px;
    margin-left: -85px;
    max-width: 550px;
    width: 100%;
    background: white;
}
.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #3d3d3e;
    margin-bottom: 12px;
}
.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}
.formbold-form-input:focus {
    border-color: #ff0062;
    box-shadow: 0px 3px 8px rgba(229, 44, 44, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #ac2d2d;
    color: white;
    width: 100%;
    cursor: pointer;
}
.formbold-btn:hover {
    background-color: #df2424;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-btn:disabled {
    background-color: #797979;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}
.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.w-full {
    width: 100%;
}
@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}


